<div class="container-fluid">
  <div class="row">
    <div class="main_block w-100">
      <form class="edit-form w-100">
        <div class="summary-block">
          <div class="col-sm-12">
            <div class="summary-head w-100">
              <div class="row" >
                <div class="col-6">
              <i class="fas fa-bullseye mr-2"></i>View Goal:
              </div>
              <div class="col-6">
                <div class="clearfix">
                  <div class="float-left">
              <button class="btn btn-info btn-sm" type="button">Create new version</button>
              </div>
              <div class="float-right">
              <i class="fas fa-pen mr-2"></i>
              </div>
            </div>
              </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-2">Tech Stack:</div>
              <div class="col-sm-4 text-muted">
                Java
              </div>
            </div>
            <div class="row">
              <div class="col-sm-2">Goal Name:</div>
              <div class="col-sm-4 text-muted">
                Spring
              </div>
              <div class="col-sm-2">Goal ID:</div>
              <div class="col-sm-4 text-muted">
                Java.Spring.Intermediate
              </div>
            </div>
            <div class="row">
              <div class="col-sm-2">Status:</div>
              <div class="col-sm-4 text-muted">
                Active
              </div>
              <div class="col-sm-2">Stage:</div>
              <div class="col-sm-4 text-muted">
                Intermediate
              </div>
            </div>
            <div class="row">
              <div class="col-sm-2">Level:</div>
              <div class="col-sm-4 text-muted">
                Intermediate
              </div>
              <div class="col-sm-2">Classification:</div>
              <div class="col-sm-4 text-muted">
                Certification Course
              </div>
            </div>

            <div class="row">
              <div class="col-sm-2">Cost of Certification Online Course:</div>
              <div class="col-sm-4 text-muted">
                30
              </div>
              <div class="col-sm-2">Content site Link:</div>
              <div class="col-sm-4 text-muted">
                www.certification.com
              </div>
            </div>

            <div class="row">
              <div class="col-sm-2">Credits:</div>
              <div class="col-sm-4 text-muted">
                25
              </div>
              <div class="col-sm-2">Estimated efforts required (in Mins.):</div>
              <div class="col-sm-4 text-muted">
                120
              </div>
            </div>
            <div class="row">
              <div class="col-sm-2">Summary</div>
              <div class="col-sm-10 text-muted">
                Java Java Java Java Java Java Java Java Java Java Java Java Java Java Java Java Java Java Java Java
                Java Java Java Java Java Java Java Java Java Java Java Java Java Java Java Java Java Java Java Java
                Java Java Java Java Java Java Java Java Java Java Java Java Java Java Java Java Java Java Java Java
                Java Java Java Java Java Java Java Java Java Java Java Java Java Java Java Java Java Java Java Java
                Java Java Java Java Java Java Java Java Java Java Java Java Java Java Java Java Java Java Java Java
                Java Java Java Java Java Java Java Java Java Java Java Java Java Java Java Java Java Java Java Java
              </div>
            </div>
          </div>
        </div>
        <div class="summary-block">
          <div class="col-sm-12">
            <div class="summary-head w-100">
              Pre-Requisites:
            </div>
            <div class="row">
              <div class="col-sm-12 text-muted">
                <p>Goals:</p>
                <p><u>Java.Spring.Beginner</u></p>
                <p><u>Java.Spring.Beginner</u></p>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12 text-muted">
                <p> Others:</p>
                <p><u>1.Atleast one year working experience in Java Projects</u></p>
                <p><u>1.Atleast one year working experience in Java Projects</u></p>
              </div>
            </div>
          </div>
        </div>
        <div class="summary-block">
          <div class="col-sm-12">
            <div class="summary-head w-100">
              <i class="fas fa-book mr-2"></i> Chapters for Study
              <!-- <a class=" float-right" href=""><i class="fas fa-plus-square m-0" title="Add"></i></a> -->
            </div>
           
          <p-table [value]="chapters">
              <ng-template pTemplate="header">
                  <tr>
                     <th>Chapter#</th>
                     <th>Name</th>
                     <th>Content link</th>
                     <th>Credits</th>
                     <th>Assignment Link</th>
                  </tr>
              </ng-template>
              <ng-template pTemplate="body" let-chapter>
                  <tr>
                      <td>{{chapter.chapter}}</td>
                      <td>{{chapter.name}}</td>
                      <td>{{chapter.contentLink}}</td>
                      <td>{{chapter.credits}}</td>
                      <td>{{chapter.assignmentLink}}</td>
                  </tr>
              </ng-template>
          </p-table>
        </div>
          </div>
          <div class="summary-block">
            <div class="col-sm-12">
              <div class="summary-head w-100">
                <i class="fas fa-file-alt mr-2"></i> Additional References
                <!-- <a class=" float-right" href=""><i class="fas fa-plus-square m-0" title="Add"></i></a> -->
              </div>
              <p-table [value]="additionalReferences" class="text-center">
                  <ng-template pTemplate="header">
                      <tr>
                         <th>Purpose</th>
                         <th>Content link</th>
                      </tr>
                  </ng-template>
                  <ng-template pTemplate="body" let-reference>
                      <tr>
                          <td>{{reference.purpose}}</td>
                          <td>{{reference.contentLink}}</td>
                      </tr>
                  </ng-template>
              </p-table>
            </div>
          </div>
          <div class="summary-block">
            <div class="col-sm-12">
              <div class="summary-head w-100">
                Goal Evaluation Team
              </div>
              <div class="row">
                <div class="col-sm-12 text-muted">
                  <p>Uma uma@metacube.com </p>
                  <p>Manish manish@metacube.com</p>
                </div>
              </div>
            </div>
          </div>
          <div class="summary-block">
            <div class="col-sm-12">
              <div class="summary-head w-100">
                Goal Coordination Team
              </div>
              <div class="row">
                <div class="col-sm-12 text-muted">
                  <p>Uma uma@metacube.com </p>
                  <p>Manish manish@metacube.com</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-12 buttons-row text-right p-0 mt-4 mb-4">
            <button class="btn btn-success btn-sm" type="button">Assign to my reportees</button>
            <button class="btn btn-success btn-sm mr-0" type="button">Add to my goals</button>
            <!-- <button class="btn btn-success btn-sm" type="button">Save & Add More</button>
            <button class="btn btn-success btn-sm mr-0" type="submit">Submit</button> -->
          </div>
      </form>
    </div>
  </div>
</div>